@keyframes nap {
    0% {top: 500px;
        left: 20px;}
    10% {top: 450px;
        left: 30px;
        transform: rotate(20deg)}
    30% {top: 250px;
        left: 380px;
        transform: rotate(60deg)}
    50% {top: 150px;
        left: 610px;
        transform: rotate(90deg)}
    70% {top: 250px;
        left: 970px;
        transform: rotate(120deg)}
    90% {top: 450px;
        left: 1190px;
        transform: rotate(160deg)}
    100% {top: 500px;
        left: 1200px;
        transform: rotate(180deg)}
}
@keyframes hatter {
    0% {background-color: rgb(37, 0, 0)}
    10% {background-color: rgb(161, 99, 58)}
    15% {background-color: rgb(170, 146, 67)}
    30% {background-color: rgb(174, 179, 130)}
    50% {background-color: rgb(135, 206, 235)}
    70% {background-color: rgb(174, 179, 130)}
    85% {background-color: rgb(170, 146, 67)}
    90% {background-color: rgb(161, 99, 58)}
    100% {background-color: black}
}
@keyframes hajo {
    0% {left: 1300px;}
    5% {transform: rotate(2deg)}
    10% {transform: rotate(0deg)}
    15% {transform: rotate(-2deg)}
    20% {transform: rotate(0deg)}
    25% {transform: rotate(2deg)}
    30% {transform: rotate(0deg)}
    35% {transform: rotate(-2deg)}
    40% {transform: rotate(0deg)}
    45% {transform: rotate(2deg)}
    50% {transform: rotate(0deg)}
    55% {transform: rotate(-2deg)}
    60% {transform: rotate(0deg)}
    65% {transform: rotate(2deg)}
    70% {transform: rotate(0deg)}
    75% {transform: rotate(-2deg)}
    80% {transform: rotate(0deg)}
    85% {transform: rotate(2deg)}
    90% {transform: rotate(0deg)}
    95% {transform: rotate(-2deg)}
    100% {left: -400px;
        transform: rotate(0deg)}
}
@keyframes viz_elsotet {
    0%{
        background-color: aqua;
    }
    100%{
        background-color: black;
    }
}
@keyframes idezet {
    0%{
        color: rgba(255, 255, 255, 0);
    }
    100%{
        color: rgba(255, 255, 255, 1);
    }
}
body{
    background-color: black;
    width: 100vw;
    height: 80vh;
    display: block;
    margin: 0%;
    position: fixed;
    animation: hatter 20s ease-in-out 0s 1 forwards;
}
#viz{
    background-color: aqua;
    display: flex;
    position: absolute;
    height: 450px;
    width: 100vw;
    top: 495px;
    animation: viz_elsotet 3s ease-out 20s 1 forwards;
}
#viz2{
    background-color: aqua;
    display: flex;
    position: absolute;
    height: 120px;
    width: 100vw;
    top: 560px;
    z-index: 1;
    animation: viz_elsotet 3s ease-out 20s 1 forwards;
}
#hajo{
    width: 25%;
    height: 25%;
    padding: 5px;
    position: absolute;
    top: 400px;
    left: 1300px;
    animation: hajo 20s linear 0s 1 forwards;
}
#nap{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 500px;
    left: 20px;
    animation: nap 20s linear 0s 1 forwards;
    transform: rotate(0deg)
}
#idézet{
    color: rgba(255, 255, 255, 0);
    font-family: "Impact";
    position: absolute;
    top: 300px;
    left: 200px;
    font-size: 36px;
    animation: idezet 1s ease-in 25s 1 forwards;
}